body {
  margin: 0;
  background-color: #f5f5f5;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

a {
  z-index: 1;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #6700DF;
  padding: 1rem;
  transition: font-color 0.3s ease, font-size 0.3s ease, background-color 0.3s ease;
  height: 3rem;
}

a:hover {
  color: #6700DF;
  font-size: 1.5rem;
}
